<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Techfluencer</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <header class="d-flex flex-row justify-content-end p-2">
    <nav class="nav nav-pills flex-sm-row p-2">
      {{#if logged_in}}
      <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/">Home</a> |
      <a class="flex-sm-fill text-sm-center nav-link" href="/dashboard">Dashboard</a> |
      <a class="flex-sm-fill text-sm-center nav-link" id="logout">Logout</a> |
      {{else}}
      <a class="flex-sm-fill text-sm-center nav-link" href="/login">Login</a>
      {{/if}}
    </nav>
  </header>

  <main class="container container-fluid mt-5">
    <h1 class="text-center">The Techfluencer</h1>
    {{{ body }}}
  </main>


</body>

<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>