{{!-- THIS IS THE HOMEPAGE WHEN LOGGED IN --}}

<nav>
    <ul>
        <li>
            View Posts{{}}
        </li>
        <li>Logout</li>
    </ul>
</nav>

<div>
{{#each user}}
<h1>Welcome, {{this.username}} !</h1>
{{/each}}
</div>