





<h1>The-Techfluencer-Blog</h1>




{{!-- this will pop up if user is not logged in --}}
<form id="login-form" name="login-form">

    <input type="username" id="username-input" placeholder="password"><label for="username-label">USERNAME</label>
    <input type="password" id="password-input" placeholder="password"><label for="password-label">PASSWORD</label>

    <button class="btn btn-primary" type="submit" value="login" id="login-btn">LOGIN</button>

</form>

{{!-- LOGIN JS PUBLIC SCRIPT FORM --}}
<script src="../public/js/login.js"></script>