<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{post_text}}</p>
  <p>Written by {{user.name}} on {{format_date createdAt}}</p>
  <p>
    <button class="btn btn-primary">Fund this post!</button>
  </p>
</div>