<form id="signup-form" name="signup-form">

<input type="username" id="username-create" placeholder="password"><label for="username-label">What's your Username?</label>
<input type="password" id="password-create" placeholder="password"><label for="password-label">What's your Password?</label>

<button class="btn btn-primary" type="submit" value="signup" id="signup-btn">Sign-Up</button>

</form>

<script src="../public/js/signup.js"></script>